<nav class="top-nav">
      <div class="cont-top-nav">
        <a class="blog-logo" id="blog" href="{{@blog.url}}">
            {{#if @blog.logo}}<img class="blog-logo-liquirizia" src="{{@blog.logo}}" alt="Blog Logo" />{{/if}}            
        </a>
        <ul>
    			  <li><a href="/about">About</a></li>
            <li><a href="{{@blog.url}}/#blog" class='active'>Blog</a></li>
            <li><a href="https://github.com/ghuntley/">GitHub</a>
            <li><a href="https://twitter.com/geoffreyhuntley">Twitter</a>
            <li><a href="https://www.linkedin.com/in/geoffreyhuntley">LinkedIn</a>
            <li><a href="mailto:ghuntley@ghuntley.com?subject=Hello!">Email</a>
        </ul>
       </div>
    </nav>