<a href="https://twitter.com/geoffreyhuntley"><img src="{{asset "images/social/ico-twitter.png"}}" alt="twitter" ></a>
<a href="https://www.linkedin.com/in/geoffreyhuntley"><img src="{{asset "images/social/ico-linkedin.png"}}" alt="linkedin" ></a>
<a href="https://www.youtube.com/user/nextw1sh"><img src="{{asset "images/social/ico-youtube.png"}}" alt="youtube" ></a>
<a href="https://github.com/ghuntley"><img src="{{asset "images/social/ico-github.png"}}" alt="github" ></a>
